    <link href="/stylesheets/assests/charSel.css" rel="stylesheet">  
  <img class="logo" src="./assests/imgs/hitLogo.png">

   <div>
        <h1>Your charcter has been added to your profile. <h1>
                <h2>Please return to the home page to view your selected characters.<h2>
    </div>
