    <head> 
       <title>Critical Hit</title>
       <link href="/stylesheets/assets/confirm.css" rel="stylesheet">  
</head>
  <img class="logo" src="/stylesheets/assets/imgs/hitLogo.png">

   <div class="text">
        <h1>Your character has been added to your profile. <h1>
                <h2>Please return to the <a href="/welcome">welcome page</a> to view your selected characters.<h2>
    </div>
