<head>
  <title>Critical Hit</title>
  <link href="/stylesheets/assets/confirm.css" rel="stylesheet">
</head>

<div class="container">
  <div class="text-center">
    <img class="logo1" src="/stylesheets/assets/imgs/hitLogo.png">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text">
        <h1>Your character has been added to your profile. <h1>
            <h2>Please return to the <a href="/welcome">welcome page</a> to view your selected characters.<h2>
      </div>
    </div>
  </div>
</div>