    <head> 
       <title>Critical Hit</title>
       <link href="./stylesheets/assets/charSel.css" rel="stylesheet">  
</head>
  <img class="logo" src="./assets/imgs/hitLogo.png">

   <div>
        <h1>Your character has been added to your profile. <h1>
                <h2>Please return to the <a href="/welcome">welcome page</a> to view your selected characters.<h2>
    </div>
