
<head>
  <title>Create your Character</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="/assests/create.css" rel="stylesheet">
</head>

<img class="logo" src="./assests/imgs/hitLogo.png">


<h1>Create Your new Character!</h1>
<div class="card">
    <div class="card-header">
        Character Name: <input class="name">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Race: <input class="race"> </li>
        <li class="list-group-item">Class: <input class="class"></li>
        <li class="list-group-item">Level: <input class="level"> </li>
        <li class="list-group-item">HP: <input class="hp"></li>
        <li class="list-group-item">Strength: <input class="strength"></li>
        <li class="list-group-item">Dexterity: <input class="dexterity"></li>
        <li class="list-group-item">Weapon: <input class="weapon"></li>
        <li class="list-group-item"> <button class="createChar"> Create Character </button> </li>
    </ul>
</div>