<head>
  <title>Create your Character</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="/stylesheets/assets/create.css" rel="stylesheet">
</head>
<div class="container-fluid wrapper">
  <img class="logo" src="/stylesheets/assets/imgs/hitLogo.png">


  <h1 class="header">Create Your own Character!</h1>


  <div class="col-sm-1 col-md-1 col-lg-2"></div>
  <div class="card col-sm-10 col-md-10 col-lg-8">

    <div class="card-header">
      <div></div>Character Name: <input class="name">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>Race:</div> <input class="race">
      </li>
      <li class="list-group-item">
        <div>Class:</div> <input class="class">
      </li>
      <li class="list-group-item">
        <div>Level:</div> <input class="level">
      </li>
      <li class="list-group-item">
        <div>HP:</div> <input class="hp">
      </li>
      <li class="list-group-item">
        <div>Strength:</div> <input class="strength">
      </li>
      <li class="list-group-item">
        <div>Dexterity:</div> <input class="dexterity">
      </li>
      <li class="list-group-item">
        <div>Weapon:</div> <input class="weapon">
      </li>
      <li class="list-group-item"> <a class="createChar btn btn-primary" href="/charSel"> Create Character </a> </li>
    </ul>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-2"></div>


</div>

<script type="text/javascript" src="js/character.js"></script>