body {
    font-size: large;
    font-weight: bold;
    color: #3C1518;
}

.card {
    margin: 30px;
    padding: 15px;
    border-style: double;
    background-color: #3C1518;
    border-color: #CC5200;
    align-self: center;
    width: auto;

}

.card-header {
    border-style: solid;
    background-color: #3C1518;
    border-color: #FFFC99;
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    color: #FFFF;

}

.list-group-item {
}

.char {
    background-color: #FFFDC2;
    border-style: double;
    border-color: #CC5200;
    margin-top: 15px;

}

.scroll {
    background-position: center;
    background: url(scroll.png) ;  
    /* look at week 1 for z index */
}