
.navbar {
    border-style: double;
    background-color: #FFFC99;
    border-color: #CC5200;
}

body {
    
    font-size: large;
    font-weight: bold;
    color: #3C1518;
}



.logo1 {
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: auto;  
    size: inherit;
    text-align: center;
}


.card {
    
    border-style: double;
    background-color: #3c1518b5;
    border-color: #CC5200;
    
    color: #FFFF;
    
}

.card-header {
    border-style: solid;
    background-color: #3C1518;
    border-color: #FFFC99;
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    color: #FFFF;
    align-self: center;

}



.list-group-item {
    align-self: center;
    text-align: center;
}


input {
    text-align: center;
    display: inline-block;
    margin: 10px;
}




.header {
    font-size: xx-large;
    color: #3C1518;
    border-style: double;
    background-color: #ffffffe3;
    border-color: #CC5200;
    text-align: center;

}

input {
    color: black;
}