
.navbar {
    border-style: double;
    background-color: #FFFC99;
    border-color: #CC5200;
}

body {
    
    font-size: large;
    font-weight: bold;
    color: #3C1518;
}

img {
    
}


.logo {
    margin: 10px;
    margin-left: 30%;
    padding: 5px;
    width: 300px;
    height: auto;
    position: relative; 
}

.wood {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-size: 100% 100%;
    width: 100%;
  }

.card {
    margin: 30px;
    padding: 15px;
    border-style: double;
    background-color: #3C1518;
    border-color: #CC5200;
    

}

.card-header {
    border-style: solid;
    background-color: #3C1518;
    border-color: #FFFC99;
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    color: #FFFF;
    width: fit-content;
    align-self: center;

}

.list-group {
    align-self: center;
    padding: 10px;
}

.list-group-item {
    padding: 10px;
    align-self: center;
}


input {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.char {
    background-color: #FFFDC2;
    border-style: double;
    border-color: #CC5200;
    margin-top: 15px;
}

.selectChar {
    border-style: double;
    border-color: #CC5200;

}

input {
    width: fit-content;
    margin: 10px;
}

.header {
    /* margin: 20px; */
    padding: 10px;
    font-size: xx-large;
    color: #3C1518;
    border-style: double;
    background-color: #FFFF;
    border-color: #CC5200;
    text-align: center;
    
    
}