form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  margin: 10px;
  margin-left: 30%;
  padding: 5px;
  width: 300px;
  height: auto;
  align-self: center;
}

.wood {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-size: 100% 100%;
  width: 100%;
}

.row {
  align-self: center;
  border-style: double;
  border-color: #3C1518;
  background-color: #FBF5EE;
  margin: 10px;
  padding: 10px;
}

.container {
  width: auto;
  padding: 50px;
  margin: 20px;
}
.navbar {
  border-style: double;
  background-color: #FFFC99;
  border-color: #CC5200;
}
